.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--background_color);
    position: sticky;
    top: 0;
    z-index: 5;
}
  
.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: relative;
    left: 640px;
    width: 10vw;
}
  
.reg_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
}
