.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
  
.buttons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background: var(--container_background_color);
    padding: 10px 0;
}

.nav_link {
    padding: 10px 20px;
    border: none;
    font-size: medium;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #f6bf00;
    text-decoration: none;
}
