* {
  margin: 0;
  padding: 0;
}

/* body {
  --background_color: white;
  --text_color: black;
  --container_background_color: rgb(226, 217, 217);
  overflow-x:hidden;
} */

body {
  --background_color: black;
  --text_color: white;
  --container_background_color: #222;
  --weapon_type_color: #777;
  --weapon_cell_color: #888;
  --button_color:#f6bf00;
  --hover_effect: rgb(132, 48, 48);
  --cell_background: #333;
  --cell_border: #444;
}

button {
  padding: 10px 20px;
  font-size: medium;
  font-weight: 700;
  border: none;
  color: var(--text_color);
  background: var(--button_color);
  cursor: pointer;
  transition: background-color 0.3s;
}

a {
  color: var(--text_color);
}

h1 {
  color: var(--text_color);
  font-size: xxx-large;
  font-weight: 700;
}

