* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  --background_color: black;
  --text_color: white;
  --container_background_color: #222;
  --weapon_type_color: #777;
  --weapon_cell_color: #888;
  --calculator_background: #999;
  --button_color:#f6bf00;
  --hover_effect: rgb(65, 97, 101);
  --cell_background: #333;
  --cell_border: #444;
  --modal: #C0C0C0;
  --gun_background_color: rgb(225, 225, 225);
  --selected: rgb(151, 192, 239);
  --cyan: rgb(28, 211, 208);
  --orange: rgb(255, 166, 0);
  --purple: #f0f;
}

button {
  padding: 10px 20px;
  font-size: medium;
  font-weight: 700;
  border: none;
  color: var(--text_color);
  background: var(--button_color);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  color: var(--hover_effect);
}

a {
  color: var(--text_color);
  text-decoration: none;
}

p {
  font-size: 1em;
  font-weight: 400;
}

h1 {
  color: var(--text_color);
  font-size: xxx-large;
  font-weight: 700;
}