.weapons {
    position: relative;
    height: 540px;
    background-image: url('./back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    padding: 16px;
    box-sizing: border-box;
    z-index: 1;
}

.weapons_types_container {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 3%;
}

.weapon_type {  
    border: none;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    color: var(--weapon_type_color);
    transition: background-color 0.3s;
}

.weapon_type.active {
    background-color: var(--weapon_type_color);
    color: var(--active_text_color);
    text-decoration: underline;
}

a:hover{
    color: var(--hover_effect);
}